{{ template "header.html" .}}
<div class="flex-1 overflow-auto">
    <div class="container mx-auto">
        <button hx-post="/" hx-include="[name='hostname'],[name='date']">
            Search!
        </button>
        <input class="rounded mx-auto w-lg p-4" type="text" name="hostname"
                                hx-get="/hostname-suggestions"
				 hx-trigger="keyup changed delay:600ms"
				 hx-target="#search-suggestions" />
        <input class="rounded mx-auto w-lg p-4" type="date" name="date"/>
    </div>
    <label>Select an hostname: 
        <input class="rounded mx-auto w-lg p-4" type="text" name="hostname" list="sug"
                                hx-get="/hostname-suggestions"
				 hx-trigger="keyup changed delay:600ms"
				 hx-target="#search-suggestions" />
    </label>
<div id="search-suggestions">
</div>

    <!-- Search Results Section -->
    <div id="search-results" class="flex-1 overflow-auto">
    </div>
</div>

{{ template "footer.html" . }}
