  <footer class="footer">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <!-- Copyright Text on the Left -->
        <div class="col-6">
          <p class="mb-0">&copy; 2025 The Log Viewer. All Rights Reserved.</p>
        </div>

        <!-- Image on the Right -->
        <div class="col-6 text-right">
          <img src="/static/images/image_1.jpg" alt="Image description" class="footer-image">
        </div>
      </div>
    </div>
  </footer>
